<div class="card p-4 mb-3">
    <div class="compliment-container mx-auto">
        <p class="compliment-text lead">"Lorem ipsum dolor sit amet consect adipisicing elit. Numquam sit
            quidem."</p>
    </div>
    <hr>
    <div>
        <div class="float-left test">
            <span class="d-inline-block h6 m-1 mb-2"> <b>Category:</b> </span>
            <span class="compliment-category d-inline-block h6 m-1 mb-2"> Lorem Ipsum </span>
            <button class="btn btn-primary float-end"
                onclick="location.href='../compliment-details.html';">Select</button>
        </div>
    </div>
</div>
</div>