<div class="card p-4 mb-3">
    <div class="compliment-container mx-auto">
        <p class="lead">Compliment 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis totam ipsum
            impedit illum perferendis facere neque.
        </p>
    </div>
    <hr>
    <div>
        <div class="float-left test">
            <span class="d-inline-block md-36 h5 m-1 mb-2"> <b>Category:</b> </span>
            <span class="d-inline-block md-36 h5 m-1 mb-2"> Lorem Ipsum </span><br>
            <span class="d-inline-block md-36 h5 m-1 mb-2"> <b>Detail 2:</b> </span>
            <span class="d-inline-block md-36 h5 m-1 mb-2"> Lorem Ipsum </span><br>
            <span class="d-inline-block md-36 h5 m-1 mb-2"> <b>Detail 3:</b> </span>
            <span class="d-inline-block md-36 h5 m-1 mb-2"> Lorem Ipsum </span><br>
            <span class="d-inline-block md-36 h5 m-1 mb-2"> <b>Detail 4:</b> </span>
            <span class="d-inline-block md-36 h5 m-1 mb-2"> Lorem Ipsum </span>
        </div>
    </div>
</div>
</div>