<div id="bottom-nav" class="navbar fixed-bottom py-1 bg-info">
    <div class="container justify-content-around text-center">
        <button class="btn">
            <a href="inbox.html" class="btn btn-info">
                <i class="material-icons md-36">email</i>
                <label class="icon-button-label">Inbox</label>
            </a>
        </button>
        <button id="add-btn" class="btn">
            <a href="browse.html" class="btn btn-info">
                <i class="material-icons md-56">add_circle</i>
                <label class="icon-button-label">New</label>
            </a>
        </button>
        <button class="btn">
            <a href="#" class="btn btn-info">
                <i class="material-icons md-36">settings</i>
                <label class="icon-button-label">Settings</label>
            </a>
        </button>
    </div>
</div>