<div id="bottom-nav" class="navbar fixed-bottom">
    <div class="container justify-content-around text-center">
        <button class="btn footer-btn home">
            <a href="main.html" class="btn footer-btn home">
                <i class="material-icons md-48">home</i>
                <label class="icon-button-label"></label>
            </a>
        </button>
        <button id="add-btn" class="btn footer-btn circle">
            <a href="browse.html" class="btn footer-btn circle">
                <i class="material-icons md-56">add_circle</i>
                <label class="icon-button-label"></label>
            </a>
        </button>
        <button class="btn footer-btn mail">
            <a href="inbox.html" class="btn footer-btn mail">
                <i class="material-icons md-48">email</i>
                <span id="note-badge">.</span>
                <label class="icon-button-label"></label>
            </a>
        </button>
    </div>
</div>