<div class="card p-4 mb-3">
    <div class="compliment-container mx-auto">
        <p class="lead">"Lorem ipsum dolor sit amet consect adipisicing elit. Numquam sit
            quidem."</p>
    </div>
    <hr>
    <div>
        <div class="float-left test">
            <i class="material-icons d-inline-block md-36">account_circle</i>
            <span class="d-inline-block md-36 h5 m-1 mb-2"> Anonymous </span>
            <button class="btn btn-primary float-end">Reply</button>
        </div>
    </div>
</div>