<head>
    <script src="../styles/style.css"></script>
</head>

<nav id="top-nav" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand m-0" onclick="history.back()">
            <button class="btn" onclick="history.back()">
                <i class="material-icons md-36" style="color: #1d6fea">arrow_back_ios</i>
            </button>
        </a>

        <a class="navbar-brand" href="main.html">
            <img src="../images/logo.png" height="30">
        </a>
        <div class="btn-group-nav">
            <button type="button" class="btn dropdown-toggle" onclick="dropDownnav()">
                <i class="material-icons md-48" style="color: #1d6fea">account_circle</i>
            </button>
            <div id="dropdownContentnav" class="dropdown-content">
                <a href="../profile.html">Profile</a>
                <a href="../settings.html">Settings</a>
            </div>
        </div>
    </div>

    <script>
        function dropDownnav() {
            document.getElementById("dropdownContentnav").classList.toggle("show");
        }

        //close dropdown menu
        window.onclick = function (event) {
            if (!event.target.matches('.dropdown-toggle')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains("show")) {
                        openDropdown.classList.remove("show")
                    }
                }
            }
        }
    </script>
</nav>