<head>
    <!-- Link to stylesheet -->
    <script src="../styles/style.css"></script>
</head>

<!-- Navbar template with back button using history to go to the previous page-->
<nav id="top-nav" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand m-0" onclick="history.back()">
            <button class="btn" onclick="history.back()">
                <i class="material-icons md-36" style="color: #1d6fea">arrow_back_ios</i>
            </button>
        </a>

        <!-- Say it Forward Logo -->
        <a class="navbar-brand" href="main.html">
            <img src="../images/logo.png" height="30">
        </a>

        <!-- Account Dropdown -->
        <div class="btn-group-nav">
            <button type="button" class="btn dropdown-toggle" onclick="dropDownnav()">
                <i class="material-icons md-48" style="color: #1d6fea">account_circle</i>
            </button>
            <div id="nav-dropdown-content" class="dropdown-content">
                <a href="../html/profile.html">Profile</a>
                <a href="../html/settings.html">Settings</a>
            </div>
        </div>
    </div>

    <!-- Link to JS to operate dropdown -->
    <script src="../scripts/navbar.js"></script>
</nav>