:root {
    --unopened-background: #ffffff;
    --opened-background: #f0f0f0;
    --unopened-border: #1d6feadc;
    --opened-border: #1d6fea88;
    --emoji-border: #fdbe0088;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: whitesmoke;
    font-size: 1.2rem;
}

/* ------material icons------ */
.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-56 {
    font-size: 56px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-24 {
    font-size: 24px;
}

/* ------Navbar----- */
.navbar {
    background-color: white;
}

.fixed-bottom {
    background-color: #1d6fea;
    height: 80px;
}

.navbar-brand {
    font-weight: bolder;
}

.footer-btn {
    color: whitesmoke;
    width: 33%;
    background-color: #1d6fea;
    border: 0px;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

button>.footer-btn {
    width: 80px;
    height: 70px;
}

.mdl-button--raised.mdl-button--colored {
    background-color: #1d6fea;
    border-radius: 2em;
}

.account>i {
    color: #1d6fea;
}

/* ------Buttons------ */
.new-comp-btn {
    background-color: #fdbe00;
    padding: .2em;
    color: black;
    font-weight: bold;
    font-size: 1.7em;
    border-radius: 2em;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.brighten-btn {
    background-color: #fdbe00;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 2em;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.select-btn {
    background-color: #fdbe00;
    color: black;
    font-weight: bold;
    border-radius: 2em;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.sign-in-btn {
    background-color: #1d6fea;
    color: white;
    font-weight: bold;
    font-size: 1.7em;
    padding: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 2em;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.message-select-btn {
    background-color: #1d6fea;
    color: white;
    font-weight: bold;
    font-size: 100%;
    border-radius: 2em;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.message-reply-btn {
    background-color: #fdbe00;
    color: black;
    font-weight: bold;
    font-size: 100%;
    border-radius: 2em;
    margin-right: .7em;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

/* ------dropdowns & popups------ */

.dropdown-content,
a {
    border-radius: 1em;
    background-color: white;
}

.icon-button-label {
    display: block;
    font-size: small;
    font-weight: bold;
    margin: 0px;
}

.settings-option {

    font-size: small;
}

.center-card {
    width: 100%;
}

.centered-card {
    width: fit-content;
    margin: auto;
}

.home-card {
    padding: 5%;
    margin-bottom: 3%;
}

.modal-content {
    border-radius: 1.5em;
}

#bottom-nav {
    /* box-shadow: 0px 0px 7px rgb(139, 139, 139); */
    padding: 0px !important;
}

#top-nav {
    box-shadow: 1px 1px 3px rgb(139, 139, 139);
}

p.lead {
    margin-bottom: 0px;
}

.material-icons {
    vertical-align: middle !important;
}

hr {
    display: block;
}

div span {
    vertical-align: middle;
    /* padding-bottom: 5px; */
}

.card-list {
    /* position: absolute; */
    overflow-y: scroll;
    height: 76vh;
    padding-top: 20px;
}

#send-section {
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
}

#send-section button {
    box-shadow: 1px 1px 1px grey;
    width: 80%;
}

.browse_content {
    margin: 10px;
}

.search .form-control {
    padding-left: 2.375rem;
}

.search .absolute_icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.dropdown-toggle {
    border: none;
    cursor: pointer;
}

.btn-group>.dropdown-toggle:hover,
.btn-group>.dropdown-toggle:focus {
    background-color: gainsboro;
}

.btn-group {
    position: relative;
    display: inline-block;
}

.form-group.profile {
    font-size: large;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#emoji-selection-modal fieldset label {
    margin-top: 1% !important;
    margin-top: 1% !important;
    width: 30.3%;
    height: 12vh;
}

#emoji-selection-modal fieldset label span {
    font-size: 50px;
}

#inbox-card {
    text-decoration: none;
    color: inherit;
}

#inbox-emoji {
    font-size: 2.5em;
    float: left;
    width: 17%;
}

#original-message {
    float: left;
    width: 83%;
    font-style: italic;
}

#message-date {
    text-align: right;
    float: right;
}

#inbox-emoji-card {
    background-color: var(--opened-background);
    border: solid 1px var(--emoji-border);
}

#inbox-compliment-card {
    box-shadow: 2px 0px 3px grey;
}

#inbox-compliment-card #compliment-text {
    font-style: italic;
}

.inbox-compliment-unopened {
    background-color: var(--unopened-background);
    border: solid 1px var(--unopened-border);
}

.inbox-compliment-unopened #compliment-text {
    font-weight: bold;
}

.inbox-compliment-opened {
    background-color: var(--opened-background);
    border: solid 1px var(--opened-border);
}

#reacted-to {
    color: #fdbe00;
}

#paid-forward {
    color: #1d6fea;
}

#note-badge {
    position: absolute;
    top: 5px;
    right: 40px;
    padding: 0px 10px;
    border-radius: 50%;
    background: red;
    color: red;
    display: none;
}

#inbox-card-list {
    overflow-y: scroll;
    height: 83vh;
    padding-top: 20px;
}

#dropdownContent hr {
    margin: 0px;
    padding: 0px;
    margin-right: 5%;
    margin-left: 5%;
}

#sif-browse-card-list {
    overflow-y: scroll;
    height: 83vh;
    padding-top: 20px;
}

@media only screen and (max-height: 760px) {
    .card-body {
        padding-top: 0;
        padding-bottom: 0;
    }

    .new-comp-body {
        padding-top: 0;
        padding-bottom: 0;
    }

}

@media only screen and (max-width: 380px) {
    .message-select-btn {
        font-size: 90%;
    }

    .message-reply-btn {
        font-size: 90%;
    }

    .brighten-btn {
        font-size: 1em;
    }
}