* {
    box-sizing: border-box;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-56 {
    font-size: 56px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.icon-button-label {
    display: block;
    font-size: small;
    font-weight: bold;
    margin: 0px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgb(165, 164, 164);
    padding: 10px;
    border-radius: 20px;
}

#add-btn {
    margin-bottom: 10px;
}

#bottom-nav {
    box-shadow: 0px 0px 7px rgb(139, 139, 139);
}

#top-nav {
    box-shadow: 1px 1px 3px rgb(139, 139, 139);
}

p.lead {
    margin-bottom: 0px;
}